@model IEnumerable<Demo1.Models.Orderdetail>
@{
	ViewData["Title"] = "ShoppingCar";
	Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class=" shoppingcar-customer">
	<p style="font-size:20px">個人資訊</p>
	

</div>

