html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f8f9fa; /* 設定背景為淺灰色 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 設定字體優先級，Segoe UI 是微軟現代介面常用的字體 */
}

.logo {
    height: 30px;
    width: auto;
    object-fit: contain;
}

/* 1. 讓文字更清晰 */
.nav-link {
    font-weight: 500;
    padding: 8px 15px ; /* 增加點擊範圍 */
    transition: all 0.2s; /* 讓變色過程順滑 */
}

    /* 2. 滑鼠移上去變色並加一條小底線 */
    .nav-link:hover {
        color: #007bff !important; /* 變成藍色 */
        text-decoration:underline; /* 加上簡單下劃線 */
    }
    
.title{
    font-size:25px;
    color:brown;
}